div{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div>div{
    width: fit-content;
    height: fit-content;
    border: 5px solid white;
}

div>div>div{
    width: 100px;
    height: 80px;
    background-color: white;
    border: 2px solid black;
}

div>section{
    position: absolute;
    top: 60%;
}

div>section>button{
    background-color: white;
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    margin: 80px;
}
