#container-fluid1>img{
    position: absolute;
    left: 5%;
}

#customer_headline{
    position: absolute;
    left: 10%;
    top: 10%;
}

#form{
    position: absolute;
    top: 20%;
    left: 15%;
}

#searchCustomer{
    width: 350px;
}
/*.form-control{
    width: 350px;
}*/

#customerId{
   width: 273px ;
}

.mb-3:nth-child(2){
    position: absolute;
    bottom:-110%;
    left: 1.1%;
}

.mb-3:nth-child(3){
    position: absolute;
    top: 0;
    left: 55%;
}

.mb-3:nth-child(4){
    position: absolute;
    bottom: -110%;
    left: 55%;
}

#customerAddress{
    width: 273px;
}

#contactNo{
    width: 273px;
}

#contactNodiv{
    position: absolute;
    top: 47%;
    left: 60%;
}

#button{
    position: absolute;
    right: -20%;
    top: -10%;
}

#button>button{
    display: flex;
    margin-bottom: 20px;
    width: 90px;
    height: 40px;
    font-size: 18px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: black;
}

#button>button:nth-child(1){
    border: 2px solid #C77DFF;
    background-color: transparent;
}

#button>button:nth-child(1):hover{
    background-color: #C77DFF;
}

#button>button:nth-child(2){
    border: 2px solid #FF5C8A;
    background-color: transparent;
}

#button>button:nth-child(2):hover{
    background-color: #FF5C8A;
}

#button>button:nth-child(3){
    border: 2px solid #52B788;
    background-color: transparent;
}

#button>button:nth-child(3):hover{
    background-color: #52B788;
}

#button>button:nth-child(4){
    border: 2px solid #EBE76C;
    background-color: transparent;
}

#button>button:nth-child(4):hover{
    background-color: #EBE76C;
}

.form-label{
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}

hr{
    border: 2px solid black;
    width: 1466.1px;
    position: absolute;
    left: 10%;
    top: 45%;
}

/*apply css table */

#table{
    width: 1147px;
    position: absolute;
    left: 16%;
    top: 65%;
}

#table_head>tr>th{
    background-color: #C77DFF;
    font-size: 28px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

#table_head>tr>th:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#table_head>tr>th:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table>tbody{
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

#viewCustomers{
    position: absolute;
    top: 55%;
    left: 12%;
}

#searchCustomer{
    position: absolute;
    top: 56%;
    right: 20%;
}

#searchBtn{
    background-color: white;
    border: 0;
    position: absolute;
    right: 16.2%;
    top: 55.2%;
}

#searchBtn>img{
    width: 40px;
}

