

.container-fluid{
    background-color: #9D4EDD;
    height: 100px;
    width: 100vw;
}

#navbar2{
    padding: 0;
}

#container-fluid2>img{
    position: absolute;
    left: 5%;
}

#item_headline{
    position: absolute;
    left: 10%;
    top: 10%;
}

#form1{
    position: absolute;
    top: 23%;
    left: 15%;
}

#itemId{
    width: 273px;
}

#searchItem{
    width: 350px;
}

.mb-3:nth-child(2){
    position: absolute;
    bottom:-110%;
    left: 1.1%;
}

.mb-3:nth-child(3){
    position: absolute;
    top: 0;
    left: 55%;
}

.mb-3:nth-child(4){
    position: absolute;
    bottom: -110%;
    left: 55%;
}

#itemPrice{
    width: 273px;
}

#itemQty{
    width: 273px;
}

#qty{
    position: absolute;
    top: 50%;
    left: 60%;
}

#button1{
    position: absolute;
    right: -20%;
    top: -15%;
}

#button1>button{
    display: flex;
    margin-bottom: 20px;
    width: 90px;
    height: 40px;
    font-size: 18px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: black;
}

#button1>button:nth-child(1){
    border: 2px solid #C77DFF;
    background-color: transparent;
}

#button1>button:nth-child(1):hover{
    background-color: #C77DFF;
}

#button1>button:nth-child(2){
    border: 2px solid #FF5C8A;
    background-color: transparent;
}

#button1>button:nth-child(2):hover{
    background-color: #FF5C8A;
}

#button1>button:nth-child(3){
    border: 2px solid #52B788;
    background-color: transparent;
}

#button1>button:nth-child(3):hover{
    background-color: #52B788;
}

#button1>button:nth-child(4){
    border: 2px solid #EBE76C;
    background-color: transparent;
}

#button1>button:nth-child(4):hover{
    background-color: #EBE76C;
}

.form-label{
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}

hr{
    border: 2px solid black;
    width: 1466.1px;
    position: absolute;
    left: 10%;
    top: 48%;
}

/*apply css table */

#table1{
    width: 1147px;
    position: absolute;
    left: 15%;
    top: 63%;
}

#table_head1>tr>th{
    background-color: #C77DFF;
    font-size: 28px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

#table_head1>tr>th:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#table_head1>tr>th:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table>tbody{
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}

#viewItems{
    position: absolute;
    top: 53%;
    left: 12%;
}

#searchItem{
    position: absolute;
    top: 54%;
    right: 20%;
}

#searchBtn1{
    background-color: white;
    border: 0;
    position: absolute;
    right: 16.2%;
    top: 53.2%;
}

#searchBtn1>img{
    width: 40px;
}