#assignments_page{
    position: relative;
    height: 310vh;
    width: 100vw;
    background-color: #F5F5F4;
}

#assignments_page>section>h1{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 2%;
    left: 6%;
    z-index: 20;
    font-size: 40px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.flex-box{
    z-index: 10;
    width: fit-content;
    height: fit-content;
    margin: 50px;
    position: relative;
}

.assignment-box{
    width: 450px;
    height: 300px;
    background-color: white;
    position: relative;
    margin-top: 10px;
}

.assignment-box>h3{
    height: fit-content;
    width: fit-content;
    font-size: 27px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin: auto;
}

.assignment-box>ul{
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    color: #BF2216;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    margin: auto;
}

.assignment-box>ul>li>span{
    color: black;
}

.background-box{
    width: 100vw;
    height: 350px;
    background-color: #E5E5E5;
    position: absolute;
}

#background-box1{
    top: 20%;
}

#background-box2{
    top: 44%;
}

#background-box3{
    top: 68%;
}

#background-box4{
    bottom: 0;
}

.icon-box{
    z-index: 15;
    width: 105px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.icon-box>img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#flex-box1{
    margin-top: 190px;
}

#flex-box2{
    margin-top: 190px;
}

#flex-box3{
    margin-top: 190px;
}