body{
    background-color: #F5F5F4;
    overflow-x: hidden;
}

header{
    background-color: white;
    position: fixed;
    right: 0;
    height: 80px;
    width: 55vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom-left-radius: 30px;
    z-index: 9;
}

header>nav>ol{
    list-style-type: none;
    position: absolute;
    right: 5%;

}

header>nav>ol>li{
    display: inline;
    margin-right: 2vw;
}

header>nav>ol>li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/*#home>section:last-child>div:first-child{
    position: absolute;
    right: 0;
}*/

#home{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#home>#setting>div{
    position: absolute;
    right: 5%;
    bottom: 80%;

}

#details{
    position: absolute;
    right: 30%;
    top: 30%;
}

#details>div:nth-child(1)>h3{
    font-size: 48px;
    font-family: 'Inria Sans', sans-serif;
}

#details>div:nth-child(2)>h2{
    font-size: 32px;
    border-bottom: 5px solid #BF2216;
}

#details>div:nth-child(2)>h2>span:first-child{
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    color: #BF2216;
    font-weight: 900;
}

#details>div:nth-child(2)>h2>span:nth-child(2){
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    color: #BF2216;
    font-weight: 200;
}

#details>div:nth-child(3)>h1{
    font-weight: bold;
    font-size: 49px;
    font-family: 'Darker Grotesque', sans-serif;
}

#details>div:nth-child(4)>button{
    font-size: 20px;
    background-color: #BF2216;
    font-family: 'Inria Sans', sans-serif;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

#social_media_icon{
    /*width: max-content;
    height: max-content;*/
    position: absolute;
    right: 6%;
    top: 30%;
}

#social_media_icon>a{
    display: block;
    margin-top: 20px;
}

main>#background_image>div:first-child{
    width: 550px;
    height: 450px;
    border: 10px solid black;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(39.21deg);
    position: absolute;
    top: 77%;
    left: 10%;
}

#home>#background_image>div:nth-child(2){
    width: 450px;
    aspect-ratio: 1/1;
    margin: 0;
    background-color: #BF2216;
    transform: rotate(37.21deg);
    position: absolute;
    top: 43%;
    left: 13%;
    z-index: 1;
}

#home>#home_page_image{
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: 9;
}

#home>#background_image>div:nth-child(3){
    width: 507.24px;
    height: 413.91px;
    border: 10px solid black;
    transform: rotate(37.21deg);
    position: absolute;
    top: 24%;
    left: 10%;
}

#home>#background_image>div:nth-child(4){
    width: 243.7px;
    height: 257.21px;
    background-color: #BF2216;
    transform: rotate(37.21deg);
    position: absolute;
    top: 17%;
    left: 11%;
}

#home>#background_image>div:nth-child(5){
    width: 100px;
    aspect-ratio: 1/1;
    background-color: #BF2216;
    transform: rotate(37.21deg);
    position: absolute;
    left: 9.8%;
    top: 7.2%;
}

#home>#background_image>div:nth-child(6){
    width: 50px;
    aspect-ratio: 1/1;
    background-color: #BF2216;
    transform: rotate(37.21deg);
    position: absolute;
    top: 18.9%;
    left: 9.3%;
}

/*applied the css about me page*/

#about_me{
    z-index: 10;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #D3D3D3;
}

#about_img{
    position: absolute;
    right: 10%;
    top: 30%;
}

#about_me>section>div>h1{
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'inter', sans-serif;
}

#about_me>section>div>h1>span{
    color: #BF2216;
}

#topic_line1{
    width: 74px;
    border: 5px solid #BF2216;
    position: absolute;
    top: 22%;
    left: 10%;
}

#topic_line2{
    width: 50px;
    border: 5px solid #BF2216;
    position: absolute;
    top: 23.3%;
    left:10% ;
}

#about_paragraph{
    width: 900px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 10%;

}

#about_paragraph>p{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 18px;

}

#about_me_details{
    width: 1000px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 10%;
}

#about_me_details>ul>li{
    position: absolute;
    font-size: 24px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
}

#about_me_details>ul>li:nth-child(2){
    right: 25%;
}

#about_me_details>ul>li:nth-child(3){
    top: 20%;
}

#about_me_details>ul>li:nth-child(4){
    right: 21.2%;
    top: 20%;
}

#about_me_details>ul>li:nth-child(5){
    top: 40%;
}

#about_me_details>ul>li:nth-child(6){
    top: 40%;
    right: 5.2%;
}

#about_me_details>ul>li:nth-child(7){
    top: 60%;
}

#about_me_details>ul>li:nth-child(8){
    top: 60%;
    right: 10%;
}

#download_btn>button{
    position: absolute;
    bottom: 15%;
    left: 11%;
    border-radius: 50px;
    width: 140px;
    height: 50px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #BF2216;
    color: white;
}

/*applied the css Qualification page*/

#qualification{
    width: 100vw;
    height: 200vh;
    background-color: #F5F5F4;
    position: relative;
}

#qualification_topic>h1{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 200px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #E5E5E5;
}

#qualification>section:nth-child(2)>#education_topic{
    width: 215px;
    height: 75px;
    background: #E5E5E5;
    position: absolute;
    border-left: 75px solid #BF2216;
    top: 10%;
    left: 10%;
}

#qualification>section:nth-child(2)>#education_topic>h2{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    margin-top: 15px;
}

#qualification>section:nth-child(2)>img{
    position: absolute;
    top: 18%;
    left: 11%;
}

#education1{
    width: 232px;
    height: 213px;
    border: 5px solid #BF2216;
    position: absolute;
    top: 18%;
    left: 18%;
}

#education1>h3{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

#education1>p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

#education2{
    width: 232px;
    height: 213px;
    border: 5px solid #BF2216;
    position: absolute;
    top: 18%;
    left: 32%;
}

#education2>h3{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

#education2>p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

#education3{
    width: 232px;
    height: 213px;
    border: 5px solid #BF2216;
    position: absolute;
    top: 18%;
    left: 46%;
}

#education3>h3{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

#education3>p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

#education4{
    width: 232px;
    height: 213px;
    border: 5px solid #BF2216;
    position: absolute;
    top: 18%;
    left: 60%;
}

#education4>h3{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

#education4>p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

#qualification>section:nth-child(3)>#skill_topic{
    width: 132px;
    height: 75px;
    background: #E5E5E5;
    position: absolute;
    border-right: 75px solid #BF2216;
    top: 43.2%;
    left: 68%;
}

#qualification>section:nth-child(3)>#skill_topic>h1{
    width: fit-content;
    height: fit-content;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    /*margin-top: 15px;*/
    margin: auto;
    padding-left: 10px;
    padding-top: 15px;
}

#skill_icon{
    position: absolute;
    top: 55%;
    left: 30%;
}

#qualification>section:nth-child(4)>#experience_topic{
    width: 242px;
    height: 75px;
    background: #E5E5E5;
    position: absolute;
    border-left: 75px solid #BF2216;
    top: 68.2%;
    left: 10%;
}

#qualification>section:nth-child(4)>#experience_topic>h1{
    width: fit-content;
    height: fit-content;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    /*margin-top: 15px;*/
    margin: auto;
    padding-left: 10px;
    padding-top: 15px;
}

#experience1{
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 20%;
    left: 22%;
}

#experience1>h3{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 27px;
}

#qualification>section:nth-child(4)>section>p{
    position: absolute;
    bottom: 5%;
    left: 18%;
    font-size: 24px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
}

#qualification>section:nth-child(4)>section>img{
    position: absolute;
    bottom: 2%;
    right: 20%;
}

/*applied the css Assignment page*/

#assignment{
    width: 100vw;
    height: 100vh;
    background: #F5F5F4;
    position: relative;
}

#assignment_head_topic{
    width: 100vw;
    height: 263px;
    background: #E5E5E5;
}

#assignment_head_topic>h1{
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Inter',sans-serif;
}

#assignment1_image{
    position: absolute;
    left: 10%;
    top: 17%;
}

#education_icon{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 35%;
    left: 16.4%;
    background-color: white;
    border-radius: 100%;
}

#education_icon>img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 15;
}

#assignment1_desc{
    width: 350px;
    height: 218.75px;
    background-color: white;
    position: absolute;
    top: 41%;
    left: 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    z-index: 9;
}

#assignment1_desc>h3{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 27px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
}

#assignment1_desc>ul{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    color: #BF2216;
}

#assignment1_desc>ul>li>span{
    color: black;
}

#assignment2_image{
    position: absolute;
    left: 40%;
    top: 17%;
}

#education2_icon{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 35%;
    left: 46.5%;
    background-color: white;
    border-radius: 100%;
}

#education2_icon>img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 15;
}

#assignment2_desc{
    width: 350px;
    height: 218.75px;
    background-color: white;
    position: absolute;
    top: 41%;
    left: 40%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    z-index: 9;
}

#assignment2_desc>h3{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 27px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
}

#assignment2_desc>ul{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    color: #BF2216;
}

#assignment2_desc>ul>li>span{
    color: black;
}

#assignment3_image{
    position: absolute;
    left: 70%;
    top: 17%;
}

#education3_icon{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 35%;
    left: 76.5%;
    background-color: white;
    border-radius: 100%;
}

#education3_icon>img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 15;
}

#assignment3_desc{
    width: 350px;
    height: 218.75px;
    background-color: white;
    position: absolute;
    top: 41%;
    left: 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    z-index: 9;
}

#assignment3_desc>h3{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 27px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
}

#assignment3_desc>ul{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    color: #BF2216;
}

#assignment3_desc>ul>li>span{
    color: black;
}

#see_another_assignment_page{
    width: 100vw;
    height: 263px;
    background-color: #E5E5E5;
    position: absolute;
    top: 55%;
}

#see_another_assignment_page>a>button{
    position: absolute;
    top: 55%;
    left: 42.8%;
    border-radius: 50px;
    width: 243px;
    height: 43px;
    background-color: #BF2216;
    font-size: 19px;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    color: white;
}